.page {
  height: 100vh;
  width: 100vw;
  background-color: #1b222c;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.side {
  width: 23%;
  background-color: #1b222c;
  border-right: 1px solid #252f3f;
}

.canvas {
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgcon {
  background-color: #1b222c;
  width: 100%;
  height: 93%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sendcon {
  border-top: 1px solid #252f3f;
  background-color: #1b222c;
  width: 100%;
  height: 5%;
}

.inpcon {
  height: 99%;
  padding: 5px;
  background-color: #1b222c;
  border-top: 1px solid #252f3f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inpcon > input {
  background-color: #1b222c;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.1rem;
  caret-color: white;
}

.msg {
  color: white;
  max-width: 40%;
  min-width: 25%;
  height: max-content;
  min-height: 30px;
  display: flex;
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  flex-direction: column;
  border: 1px solid #252f3f;
}

.userpic {
  width: 45px;
  height: 45px;
}

.userpic > img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.wholemsg {
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px 10px;
}

.wholemsg.this {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.wholemsg.other {
  justify-content: flex-start;
}

.wholemsg.this > .msg {
  background-color: #54709e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wholemsg.other > .msg {
  background-color: #25303f;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.uname {
  color: #9a84d1;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 2px;
}

.mem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #252f3f;
  color: white;
}

.memimg {
  height: 50px;
  width: 50px;
}

.memimg > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
